<div style="background: url(/app/assets/images/home-header.jpeg)" class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold">Welcome to KSC Marketplace</h1>
        <p class="font-italic mb-0">An online marketplace for users to buy and sell Korean skincare</p>
        <%= link_to 'View product listings', products_path, role: "button", class: "btn btn-primary px-5" %>

    </div>
</div>



