<h1> Your Shopping Cart </h1>
<% if @order_lines.any? %>
  <% @order_lines.each do |item| %>
    <p><%= item.product.name %> | <%= link_to "Delete", order_line_path(item), :data => {:confirm => "Item will be removed. Proceed?", method: :delete} %></p>
    <p> Price: <%= number_to_currency item.product.price %> </p>
  <% end %>
  <p>Your Total: <%= number_to_currency current_order.total_price %></p>
<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>