<h1>You've made a successful payment!</h1>
<h2>Purchase summary</h2>
<strong>Item:</strong>
<% @order.order_lines.each do |order| %>
<%= order.product.name %><br>
Price:
<%= number_to_currency(order.product.price) %>
<% end %>
<br>

<%= link_to 'Back to Product Listings', products_path %>