/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "../javascripts/application.js";
@import "palette";
@import 'cards';
@import 'forms';
@import 'pages';
@import 'products';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Tauri&display=swap');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
@import "top_nav";
@import "bootstrap";


body {
  background-color: $bgcol;
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  width: 100vw;
  margin: 0px;
  padding: 0px; 

}

.navbar {
  background-color: $color2 !important;
  margin: 0px !important;
}

.container-fluid {
  margin-top: 0px;
  padding: 0px; 

}

.row.no-gutter {
  padding: 0px !important
}

h1 {
  font-family: 'Tauri', sans-serif;
  color: $color5;
}

.card{
  margin: 20px; 
  
}

.card-body {
  background-color: transparent;
}

a {
  color: $color5 !important;
  text-decoration: none !important;

}

a:hover {
  color: $color1 !important;
}

.alert {
  margin-top: 60px;
}

.notice {
  color: red;
}