/* Coolors Exported Palette - coolors.co/dfe1e6-c4c9ce-ccb9b1-90b59f-414648 */

/* HSL */
$color1: hsla(223%, 12%, 89%, 1);
$color2: hsla(210%, 9%, 79%, 1);
$color3: hsla(18%, 21%, 75%, 1);
$color4: hsla(144%, 20%, 64%, 1);
$color5: hsla(197%, 5%, 27%, 1);

/* RGB */
$color1: rgb(242, 249, 243);
$color2: rgb(180, 184, 189);
$color3: rgba(204, 185, 177, 1);
$color4: rgb(100, 125, 110);
$color5: rgba(65, 70, 72, 1);